<h2 class="title">My Heroes</h2>
<article class="heroes">
    <section *ngFor="let hero of heroes" (click)="onSelect(hero)" class="hero" [class.selected-hero]="hero === selectedHero">
        <a routerLink="/detail/{{hero.id}}">
            <h1 class="badge">{{hero.id}} </h1>
            <h2>{{hero.name}}</h2>
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </section>
</article>

<div id="addHero-container">
    <label>Hero name:</label>

    <input #heroName />

    <button (click)="add(heroName.value); heroName.value=''">
      Add
    </button>
</div>